extends ../layouts/main

block contenido
    h2 Listado de camisetas
    if mensaje!=null
        p= mensaje
    table.table
        thead 
            tr 
                th id
                th talla 
                th sexo 
                th color 
                th marca 
                th stock 
                th precio 
<<<<<<< HEAD
                if isAdmin
                    th activo
                    th editar
                    th borrar
                if (isAdmin == false)
                    th comprar
=======
                is isAdmin
                    th activo
                    th editar
                    th borrar
>>>>>>> a47b4ff858b92b480f4005b1d51ab381fe164b44
        tbody 
            each camiseta in camisetas
                tr 
                    td=camiseta.id
                    td=camiseta.talla 
                    td=camiseta.sexo 
                    td
                        span(style=`color:${camiseta.color}`)=camiseta.color 
                    td=camiseta.marca 
                    td=camiseta.stock 
                    td=camiseta.precio 

                    //Si eres admin sehace las siguientes lineas
<<<<<<< HEAD
                    if isAdmin
=======
                    is isAdmin
>>>>>>> a47b4ff858b92b480f4005b1d51ab381fe164b44

                        td=camiseta.activo==1
                    
                        td
                            a.btn.btn-success(href=`/admin/camiseta/edit/${camiseta.id}`) editar
                        td
                            a.btn.btn-danger(href=`/admin/camiseta/del/${camiseta.id}`) borrar
                    //Si no eres admin se hacen estas otras lineas
<<<<<<< HEAD
                    if (isAdmin == false)
=======
                    Is !isAdmin
>>>>>>> a47b4ff858b92b480f4005b1d51ab381fe164b44
                        td
                            a.btn.btn-danger(href=`/camiseta/del/${camiseta.id}`) comprar