extends ../layouts/main

block contenido
  // ENLACE AL CSS NEOBRUTALISTA (Se mueve directamente al bloque de contenido)
  link(rel="stylesheet", href="/css/carrito/add.css") 

  // Se combinan las clases .container y .neobrutalista-carrito-add en un solo elemento.
  .neobrutalista-carrito-add
      h1 Añadir Camiseta: #{camiseta.marca} - #{camiseta.talla.toUpperCase()}
      .row            
        .col-md-12
          h3.form-label 
            strong Detalles del Producto
          // Aplicamos clases de lista para el estilo Neobrutalista
          ul.list-group.list-group-flush.mb-3
            li.list-group-item
              strong Precio:
              |  
              span.price-value #{camiseta.precio} € 
            li.list-group-item
              strong Stock Disponible:
              |  #{camiseta.stock} unidades
          
          // FORMULARIO
          form(action=`/carrito/add/camiseta/${camiseta.id}`, method='POST')
            .mb-3
              label.form-label(for='cantidad')
                strong Cantidad a Añadir:
              // Aplicamos .form-control que es estilizado en el Canvas
              input.form-control#cantidad(
                type='number', 
                name='cantidad', 
                min='1', 
                max=camiseta.stock, 
                value='1', 
                required
              )

            // El botón de submit es estilizado en la sección 4 del Canvas
            button(type='submit') Añadir al Carrito
          
          .align-right-wrapper
            // El enlace de vuelta es estilizado en la sección 5 del Canvas
            a(href='/camisetas') Volver al Catálogo
