
block head
  title Añadir Camiseta al Carrito

block content
  .container
    h1.my-4 🛒 Añadir Camiseta: #{camiseta.marca} - #{camiseta.talla.toUpperCase()}
    
    .card.shadow-sm
      .card-body
        .row            
          .col-md-8
            h3 Detalles del Producto
            ul.list-group.list-group-flush.mb-3
              li.list-group-item **Precio:** $#{camiseta.precio} €
              li.list-group-item **Stock Disponible:** #{camiseta.stock} unidades
            
            // RUTA CORREGIDA: /carrito/ en lugar de /carro/
            form(action=`/carrito/add/camiseta/${camiseta.id}`, method='POST')
              .mb-3
                label.form-label(for='cantidad') **Cantidad a Añadir:**
                input.form-control#cantidad(
                  type='number', 
                  name='cantidad', 
                  min='1', 
                  max=camiseta.stock, 
                  value='1', 
                  required
                )
                
              button.btn.btn-success.w-100(type='submit') Añadir al Carrito
              
            a.btn.btn-outline-secondary.mt-3(href='/camisetas') ⬅️ Volver al Catálogo
